body{
    background-color: #ebeff5;
}
#total-orders{
    background-color: #4cb4c7;
}
#orders-delivered{
    background-color: #7abecc;
}
#orders-pending{
    background-color: #7CD1C0;
}
#img{
    margin-left: 10px;
    /* border-radius: 50px; */
}
/* .navbar{
    margin-right: -12px;
} */
#roll{
    margin-left:5px;
}